<div class="d-flex align-items-center justify-content-center m-5">
  <div>
    <h1 style="padding-bottom: 20px">New Department</h1>
    <%= render partial: 'form', locals: {department: @department} %>
  </div>
</div>
